<div class="container-fluid h-100">
  <div class="row h-100 align-items-center">
    <div class="col-5 text-center">
      <circle-progress id="circleProgress"
        [percent]="(1 - meetingProgress) * 100"
        radius="120"
        outerStrokeWidth="20"
        innerStrokeWidth="0"
        [outerStrokeColor]="progressColor"
        [showSubtitle]="false"
        [showUnits]="false"
        [title]="meetingEndsIn | time: true"
        titleColor="#ffffff"
        titleFontSize="20"
      ></circle-progress>
    </div>
    <div class="col-7">
      <div class="container text-white">
        <div class="row">
          <div class="col text-center">
            <span id="dshbrdRoom">{{room}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <span class="font-weight-bold" id="dshbrdMeetOwn">Welcome {{meeting ? meeting.owner : ''}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <span id="dshbrdMeet">
              {{meeting ? meeting.title : 'No title'}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<audio #alertSound>
  <source src='/assets/sounds/insight.mp3' type="audio/mp3">
</audio>
<app-time-alert *ngIf="remainingTimeAlert" [time]="meetingEndsIn" class="alert-fullscreen bg-unavailable text-white"></app-time-alert>
