@media (min-width: 767px) {
  #dshbrdMeetOwn{
    font-size: 2.6rem;
  }

  #dshbrdRoom{
    font-size: 2rem;
  }

  #dshbrdMeet{
    font-size: 2rem;
  }

}

@media (min-width: 1400px) {
  #dshbrdMeetOwn {
    font-size: 5rem;
  }

  #dshbrdRoom {
    font-size: 3.5rem;
  }

  #dshbrdMeet {
    font-size: 3.5rem;
  }

}

.display-3{
  font-size: 2.5rem;
}
.display-4{
  font-size: 2rem;
}
.status-bar{
  height: 70vh;
}
.schedule-pop-button{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.alert-fullscreen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
